.report {
	border-style: solid;
	border-color: #A3C2FF;
	border-width: 2px;
	padding: 12px;
	border-radius: 5px;
	color: black;
	background-color: white;
	text-align: left;
}

.report .pkg_name {
	word-break: break-all;
}

.report .apptype {
	position: absolute;
	background-color: #d9534f;
	height: 6rem;
	width: 90%;
	top: 5px;
	left: 5%;
}

.report:hover {
	box-shadow: 0px 0px 8px #3399FF;
}

.report .threat-item {
	border-left: 6px solid #FF3333;
	font-size: 1.7rem;
	color: #FF3333;
	padding: 5px;
}

.report .warning-item {
	border-left: 6px solid #CCA300;
	font-size: 1.7rem;
	color: #CCA300;
	padding: 5px;
}

.report .btn-share {
	text-decoration: none;
}

.report .app-name {
	height: 5rem;
}

.report .score {
	margin-top: 10px;
}
.report .initialism {
	color: black;
}

.rubber_stamp {
	font-size: 1.5rem;
	line-height: 45px;
	text-transform: uppercase;
	font-weight: bold;
	color: red;
	border: 7px solid red;
	float: left;
	padding: 2px 7px;
	border-radius: 10px;
	margin: 1.5rem 0;
	opacity: 0.8;
	-webkit-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	top:32%;
}

.rubber_stamp::after {
	position: absolute;
	content: " ";
	width: 100%;
	height: auto;
	min-height: 100%;
	top: -10px;
	left: -10px;
	padding: 10px;
	background: url(../img/noise.png) repeat;
}